Package: com.jevinskie.dropbearmulti-arm64
Name: dropbearmulti arm64
Depends: 
Version: 2018.76
Architecture: iphoneos-arm
Description: Dropbear compiled as a single binary with built-in scp and sftp-server
Maintainer: Jevin Sweval
Author: Jevin Sweval
Section: System
Tag: role::hacker
