Package: com.yourcompany.examplepkg
Name: examplepkg
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Jevin Sweval
Author: Jevin Sweval
Section: System
Tag: role::hacker
